@{
    ViewData["Title"] = "Home Page";
}
@model iSkedyul.Models.ViewModel.AppointmentModel
<div>
    <div class="background">
        <div class="landingPageText">
            <h1>
                Welcome to iSkedyul
            </h1>
        </div>
        <div class="serviceDropdown">
            <select class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ">
                <option class="serviceDropdown-item" value="">What are you looking for?</option>
                <option class="serviceDropdown-item" value="Action">Appointment</option>
                <option class="serviceDropdown-item" value="AAction">Appointment</option>
                <option class="serviceDropdown-item" value="SElse">Appointment</option>
            </select>
        </div>
        <div class="container" id="hotline">
            <ul>
                <li>911</li>
                <li>911</li>
                <li>911</li>
                <li>911</li>
                <li>911</li>
            </ul>
        </div>
        <div id="para1">
            <p>Health Center Hotline</p>
        </div>
        <div id="para2">
            <p>BFP Hotline</p>
        </div>
        <div id="para3">
            <p>National Emergency Hotline</p>
        </div>
        <div id="para4">
            <p>PNP Hotline</p>
        </div>
        <div id="para5">
            <p>Barangay Hotline</p>
        </div>
        <div class="container" id="notif-1">
            <p>
                Sarado po ang mga serbisyo ng baranggay tuwing araw ng linggo
                ngunit andito maari pa ring magpa-iSkedyul.
            </p>
        </div>
        <div class="container" id="notif-2">
            <p>
                Libreng bakuna ng Anti-rabies at Anti-tetanus nagaganap po ngayong araw ng Lunes.
                Mabuting mag-punta sa baranggay hall upang mabakunahan.
            </p>
        </div>
        <div class="container" id="notif-3">
            <p>
                Sa darating na 09/11/2023 ay magkakaroon ng bigayan ng Cash Assistance para sa mga estudyante
                ng kolehiyo sa ating baranggay.
            </p>
        </div>
    </div>
    <div class="background-2">
        <div class="services">
            <h1>
                Services that we offer:
            </h1>
        </div>
        <div class="container" id="description-1">
            <h2>
            Appointment
            </h2>
            <i class="fa-regular fa-calendar-days"></i>
            <p>
            Schedule an Appointment with us!
            </p>
            <button type="button" id="appointmentBtn">
            Schedule
            </button>
            </div>
            <div class="container" id="description-2">
            <h2>
            Vaccination
            </h2>
            <i class="fa-solid fa-syringe"></i>
            <p>
            Pick a date and time for the vaccination!
            </p>
            <button type="button" id="vaccinationBtn">
            Date and Time
            </button>
            </div>
            <div class="container" id="description-3">
            <h2>
            Baranggay ID / Clearance
            </h2>
            <i class="fa-solid fa-id-card"></i>
            <p>
            Fill out the form and choose a prefer date.
            </p>
            <button type="button" href="Appointment">
            Form
            </button>
        </div>
    </div>
    
    <!-- ADD APPOINTMENT MODAL -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal fade appt-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Schedule an Appointment</h4>
                        <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="apptForm">
                            @Html.ValidationSummary(true, "",new {@class = "text-danger"})
                            <input type="hidden" id="appointmentId" />
                            <div class="form-group">
                                @* <label for="firstName">First Name:</label> *@
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                    @Html.EditorFor(model => model.FirstName, new{ htmlAttributes = new{@class="form-control", id="firstname"}})
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                                @* <input type="text" class="form-control" id="firstName"/> *@
                            </div>
                            <div class="form-group">
                                @* <label for="lastName">Last Name:</label> *@
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                    @Html.EditorFor(model => model.LastName, new{ htmlAttributes = new{@class="form-control", id="lastName"}})
                                    @Html.ValidationMessageFor(model => model.LastName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                                @* <input type="text" class="form-control" id="lastName" /> *@
                            </div>
                            <div class="form-group">
                                @* <label for="dateTimeOfAppointment">Appointment Date:</label> *@
                                @Html.LabelFor(model => model.DateTimeOfAppointment, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                    @Html.EditorFor(model => model.DateTimeOfAppointment, new{ htmlAttributes = new{@class="form-control", type="datetime-local", id="dateTimeOfAppointment"}})
                                    @Html.ValidationMessageFor(model => model.DateTimeOfAppointment, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                                @* <input type="datetime-local" class="form-control" id="dateTimeOfAppointment" /> *@
                            </div>
                            <div class="form-group">
                                @* <label for="purpose">Purpose:</label> *@
                                @Html.LabelFor(model => model.Purpose, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                    @Html.EditorFor(model => model.Purpose, new{ htmlAttributes = new{@class="form-control", id="purpose"}})
                                    @Html.ValidationMessageFor(model => model.Purpose, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                                @* <input type="text" class="form-control" id="purpose" /> *@
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="submitAppointment" value="Submit Appointment">
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- VACCINATION MODAL -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal fade vax-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Schedule for Vaccination</h4>
                        <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="vaxForm">

                            @* @Html.ValidationSummary(true, "",new {@class = "text-danger"})
                            <input type="hidden" id="appointmentId" />
                            <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.FirstName, new{ htmlAttributes = new{@class="form-control", id="firstname"}})
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.LastName, new{ htmlAttributes = new{@class="form-control", id="lastName"}})
                                            @Html.ValidationMessageFor(model => model.LastName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.DateTimeOfAppointment, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.DateTimeOfAppointment, new{ htmlAttributes = new{@class="form-control", type="datetime-local", id="dateTimeOfAppointment"}})
                                            @Html.ValidationMessageFor(model => model.DateTimeOfAppointment, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.Purpose, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.Purpose, new{ htmlAttributes = new{@class="form-control", id="purpose"}})
                                            @Html.ValidationMessageFor(model => model.Purpose, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div> *@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="submitVax" value="Submit Appointment">
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- BARANGAY ID / CLEARANCE -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal fade brgy-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Schedule for Barangay ID/Clearance</h4>
                        <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="brgyForm">
                            @* @Html.ValidationSummary(true, "",new {@class = "text-danger"})
                            <input type="hidden" id="appointmentId" />
                            <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.FirstName, new{ htmlAttributes = new{@class="form-control", id="firstname"}})
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.LastName, new{ htmlAttributes = new{@class="form-control", id="lastName"}})
                                            @Html.ValidationMessageFor(model => model.LastName, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.DateTimeOfAppointment, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.DateTimeOfAppointment, new{ htmlAttributes = new{@class="form-control", type="datetime-local", id="dateTimeOfAppointment"}})
                                            @Html.ValidationMessageFor(model => model.DateTimeOfAppointment, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                        @Html.LabelFor(model => model.Purpose, htmlAttributes: new{@class="control-label col-md-2"})
                                <div class="col-mid-10">
                                            @Html.EditorFor(model => model.Purpose, new{ htmlAttributes = new{@class="form-control", id="purpose"}})
                                            @Html.ValidationMessageFor(model => model.Purpose, "", new{ htmlAttributes = new{@class="form-control"}})
                                </div>
                            </div> *@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="submitBrgy" value="Submit Appointment">
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            let selection = document.getElementById('select');
            $(document).ready(function () {
                var submitAppt = $("#submitAppointment");

                var apptModal = $(".appt-modal");
                var vaxModal = $(".vax-modal");
                var brgyModal = $(".brgy-modal");

                var apptId = $("#appointmentId");
                var apptFirstN = $("#firstName");
                var apptLastN = $("#lastName");
                var apptDate = $("#dateTimeOfAppointment");
                var apptPurpose = $("#purpose");

                // if (event.target.value && (event.target.value = $.trim(event.target.value))) {
                //     apptId.val(/* event.target.value + '-' +  */uniqueID());

                //     apptModal.modal("show");
                // }

                var submitted = false;

                $(".close-modal").click(function () {

                    apptModal.modal("hide");
                    vaxModal.modal("hide");
                    brgyModal.modal("hide");

                    apptId.val(0);
                    apptFirstN.val("");
                    apptLastN.val("");
                    apptDate.val("");
                    apptPurpose.val("");
                    apptFirstN.val("");
                });

                $("#appointmentBtn").click(function () {
                    console.log("clicked appointment");
                    apptModal.modal("show");
                });

                $("#vaccinationBtn").click(function () {
                    console.log("clicked vax");
                    vaxModal.modal("show");
                });

                $("#brgyBtn").click(function () {
                    console.log("clicked brgy");
                    brgyModal.modal("show");
                });
            });

            function uniqueID() {
                return Math.floor(Math.random() * Date.now())
            }
        });
    </script>
</div>